lez-wallet-module/qt-module/corelib/*.a filter=lfs diff=lfs merge=lfs -text
lez-wallet-module/qt-module/*.so filter=lfs diff=lfs merge=lfs -text
lez-wallet-module/qt-module/prebuilt/*.so filter=lfs diff=lfs merge=lfs -text
